{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rawvely</title>

    <link rel="stylesheet" href="{% static 'series/css/inicio.css' %}">
</head>

<body>

    <main class="Inicio">

        <a href="#" class="botao-login">Login</a>

        <section class="conteudo">

            <img
                src="{% static 'series/img/logo.png' %}"
                alt="Rawvely"
                class="logo"
            >

            <p class="frase">
                Descubra e avalie
            </p>

            <p class="descricao">
                Encontre novas séries, organize suas favoritas
                e registre tudo o que você assiste.
            </p>

            <a href="#" class="botao-explorar">
                Explorar séries
            </a>

        </section>

    </main>

</body>

</html>